h1 {
    text-align: center;
    color: rgb(207, 195, 22); /* ja samoin tähän joku parempi väri (tint) */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

body {
    background-color: black; /* joku nätti värishade tähän vielä */
    color: white;
   
}

#theatreList  {
    display: block;
    margin: auto;
}
table, tr, td {
  border: 2px solid; color: rgb(218, 218, 214); 
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  
  font-size: 18px;
  font-family: Tahoma, Geneva, sans-serif ;

} 
 
#firstcolum {
  padding: 0px;
}
#list tbody tr td {
  padding-left: 5px;
  padding-right: 5px;
} 

#userInput {
  display: none;
  margin: auto; 
}


footer {
 
}

