h1 {
    text-align: center;
    color: white; /* ja samoin tähän joku parempi väri (tint) */
}

body {
    background-color: black; /* joku nätti värishade tähän vielä */
    color: white;
}

#testi  {
    display: block;
    margin: auto;
}
table, tr, td {
  border: 1px solid white;
}
